body{
    margin: 10%;
    padding: 10%;
    background: #2b9348;
}

.name{
    width: 100%;
    height: 300px;
    background: #2b9348;
    transform: skewY(-5deg);


}
.name .content{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;

}
.name .content .p-1{
    color: #fff8f0;
    font-family: 'Playfair Display', serif, sans-serif;
    font-weight: bolder;
    font-size: 65px;
    transform: skewY(5deg);
    margin-bottom: 0;

}
.name .content .p-2{
    color: #fff8f0;
    font-family: 'Playfair Display', serif sans-serif;
    font-size: 35px;
    transform: skewY(5deg);
    margin-top: 0;
    margin-bottom: 0;
}
.name .img{
    position: absolute;
    top: 18%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skewY(5deg);
    overflow: hidden;

}
.name .img img{
    width:100 px;
    height:190px;
}

.perfil{
    width: 90%;
    height: auto;
    background: #2b9348;
    margin: 5% auto;
    padding: 20px;
}

.perfil .infoperfil{
    color: #fff8f0;
    font-family: 'Playfair Display', serif sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #80b918 dashed;
}
.perfil .infoperfil2{
    color: #060607;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
    font-size: 20px;
    text-justify: auto;

}
    
.contacto{
    width: 90%;
    height: auto;
    background: #2b9348;
    margin: 5% auto;
    padding: 20px;
}

.contacto .contacto0{
    color: #fff8f0;
    font-family: 'Playfair Display', serif sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #80b918 dashed;
}
.contacto .contacto1{
    color:  #fff8f0;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
    font-size: 20px;
    text-justify: auto;
}
.contacto .contacto2{
    color:   #060607;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
    font-size: 20px;
    text-justify: auto;
    margin-right: 20px;
}

.contacto .Email{
    color:  #fff8f0;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
    font-size: 20px;
    text-justify: auto;
    

}

.contacto .Email1{
    color:   #060607;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
    font-size: 20px;
    text-justify: auto;
    margin-right: 20px;
}

.contacto .telefono{
    color:  #fff8f0;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    font-size: 20px;
    text-justify: auto;
    
}
.contacto .telefono1{
    color:   #060607;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    
    font-size: 20px;
    text-justify: auto;
    margin-right: 20px;
}

.contacto .Facebook{
    color:  #fff8f0;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    
    font-size: 20px;
    text-justify: auto;
}

.contacto .Facebook1{
    color:   #060607;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
    font-size: 20px;
    text-justify: auto;
    margin-right: 20px;
}

.info{
    width: 90%;
    height: auto;
    background: #2b9348;
    margin: 5% auto;
    padding: 20px;
}

.info .tituloInfoSeccion{
    color: #fff8f0;
    font-family: 'Playfair Display', serif sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #80b918 dashed;
}

.info .tituloInfo{
    color:  #fff8f0;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
    font-size: 20px;
    text-justify: auto;
}
.info .infoInfo{
    color:   #060607;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
    font-size: 20px;
    text-justify: auto;
    margin-right: 20px;
}

.info .info1{
    color:  #fff8f0;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
    font-size: 20px;
    text-justify: auto;
}

.info .info2{
    color:   #060607;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
    font-size: 20px;
    text-justify: auto;
    margin-right: 20px;
}
.info .estadocivil{
    color:  #fff8f0;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    font-size: 20px;
    text-justify: auto;
}
.info .estadosivil2{
    color:   #060607;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
     font-size: 20px;
    text-justify: auto;
    margin-right: 20px;
}

.info .lugardenac{
    color:  #fff8f0;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
    font-size: 20px;
    text-justify: auto;
    
}
.info .lugardenac1{
    color:   #060607;
    font-family: 'Playfair Display', serif sans-serif;
    font-weight: normal;
    font-size: large;
     font-size: 20px;
    text-justify: auto;
    margin-right: 20px;
}
